.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
}
.appointment-container {
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 60px;
  text-align: center;
}
.add-appointment {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #171f46;
  font-family: monospace;
  font-weight: bold;
}
.label {
  color: #171f46;
  font-family: 'Roboto';
  font-weight: 300;
}
.input {
  margin: 3px;
  height: 25px;
  width: 250px;
  border: 2px solid #171f46;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}
.button {
  background-color: #8b5cf6;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.hr-line {
  background-color: #171f46;
  font-size: 3px;
}
.image {
  width: 400px;
  height: 400px;
}
